ul.social-network{
    list-style-type: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}
.fa-Github-square:hover{
    color: #0000
}
.fa-linkedin-square:hover{
    color: #0072b1
}