<div class="container-fluid">
    
    <div class="row bg-secondary d-flex align-items-center"> 
        <div class="col-md-6">
            
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 text-white">
                    <h1 class="fs-54">Seja bem vindo!</h1>
                    <h5 class="fs-18">Expresse aqui os seus pensamentos e opiniões!</h5>
                </div>
            </div>
    
            <div class="row d-flex justify-content-center mt-3 mb-5">
                <div class="col-md-6">
                    <button class="btn btn-light mr-2">Nova Postagem</button> 
                    <a class = "btn btn-outline-light" href="">Ver Postagens</a> 
                </div>
            </div>
        
        </div>

        <div class="col-md-6 d-flex justify-content-center">
            <img src="../../assets/Cyborg-bro.png" alt="" width="500px" height="500px">
        </div>
    
    
    
    </div>
</div>